body {
  background-color: #10404b;
}

.container {
  max-width: 450px;
}

input[type=text],
input[type=text]:focus {
  color: #0a3843;
  font-weight: 500;
  border: none;
  background-color: rgb(34 161 191);
}

li.list-group-item {
  background-color: #1d6e81;
  color: #ade9f7;
  font-weight: 500;
  font-size: 19px;
}

.delete, .edit {
  cursor: pointer;
}

label.add {
  margin-bottom: 15px;
}

.filtred {
  display: none !important;
}